/*
  Style
*/

p,
td,
th,
a{
  color: #3a383a;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#bodyTable{
  background: #f3f3f3;
}

.bodyCell{
  padding: 50px 0;
}

.container{
  width: 580px;
}

.content{
  background-color: #FFF;
}

.content > td{
  color: #3a383a;
  padding: 40px 30px;
}

/*
  Review Button
*/

.review .btn{
  margin-bottom: 50px;
}

/*
  Signature
*/

.signature,
.review{
  background-color: #FFF;
}

.signature > td{
  padding-bottom: 30px;
}

.logo{
  width: 188px;
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid #278992;
}

.info{
  width: 392px;
  padding-left: 30px;
  vertical-align: middle;
}

.name{
  font-size: 16px;
  color: #278992;
}

.employment{
  font-size: 12px;
}

.brand{
  font-size: 12px;
  color: #6E9032;
}

.website{
  font-size: 12px;
  color: #278992;
  text-decoration: none;
  padding: 0;
}

/*
Footer
*/

.footer{
  background-color: #278992;
}

.footer > td{
  color: #fff;
  font-size: 11pt;
  padding: 12px 30px;
  width: 100%;
}






